## Deliverable 3. Create a Travel Itinerary Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key = g_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../Vacation_Search/Vacation_Search.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Kavaratti,IN,80.13,moderate rain,10.5669,72.6420,Hotels in Lakshadweep Islands
1,8,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,10,Lorengau,PG,84.74,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,28,Eyl,SO,81.09,overcast clouds,7.9803,49.8164,Amiin Hotel
4,31,Hithadhoo,MV,83.26,broken clouds,-0.6000,73.0833,Scoop Guest House

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df['City'] =='Elizabeth City']
vacation_end = clean_hotel_df.loc[clean_hotel_df['City'] =='Elizabeth City']
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df['City'] =='Dillon']
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df['City'] =='Dickinson'] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df['City'] =='San Patricio']

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

(28.017, -76.2511)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,360,Elizabeth City,US,82.42,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
1,413,Dillon,US,82.74,few clouds,34.4166,-79.3712,Dillon Express Inn
2,488,Dickinson,US,82.94,few clouds,29.4608,-95.0513,Hampton Inn & Suites Houston/League City
3,261,San Patricio,US,82.29,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2 = gmaps.figure()
fig2.add_layer(marker_layer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))